@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: " ";
  clear: both;
  display: block
}
.q1__wrapper {
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
  font-size: 16px;
  line-height: 16px;
  padding: 20px 0 20px 20px;
  box-sizing: border-box;
}
.large__box {
  float: left;
  margin-left: 20px;
  background-color: #3274ae;
  padding: 20px;
}
.large__box:first-child {
  margin-left: 0;
}
.small__box {
  width: 230px;
  padding: 20px;
  background-color: #eaf4ff;
  box-sizing: border-box;
  border: 10px solid #022336;
}


/* 回答はここに書いてね */
