@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: " ";
  display: block;
  clear :both;
}
.btn {
  display: inline-block;
  margin-right: 10px;
}
.small-btn {
  height: 26px;
  line-height: 26px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  border-radius: 3px;
}
.middle-btn {
  height: 32px;
  line-height: 32px;
  padding-left:20px;
  padding-right: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.large-btn {
  height:  38px;
  line-height: 38px;
  padding-left: 25px;
  padding-right: 25px;
  font-size:24px;
  border-radius: 7px;
}
.common {
  background-color: #00bcd4;
  color: #fff;
}
.error {
  background-color : #ff4081;
  color: #fff;
}
.disabled {
  background-color: #e5e5e5;
  color: #fff;
}
.shadow {
  color: #222;
  box-shadow : 0 1px 4px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.12);
}
.q8--btn .btn:last-child {
  margin-right: 0;
}
.hand:hover {
  cursor: pointer;
}


.q8__form {
  width: 700px;
  margin: 0 auto;
  background-color:#ecf1f2 ;
  padding: 20px;
}

.q8__form__title {
  margin-bottom: 20px;
  position: relative;
}

.q8__form__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ccc;
  height:1px;
  width: 100%;
  content: "";
}

.q8__form__title__text {
  position: relative;
  display: inline-block;
  background-color: #ecf1f2;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  padding-right: 10px;
}

.q8__form__main {
  width: 300px;
  float: left;
}

.q8__main__content {
  margin-bottom: 20px;
}

.q8__main__content__title {
  width: 100px;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
}

.q8__text__common__style {
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 14px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  float: right;
  width: 180px;
}

.q8__text__common__style:focus{
  box-shadow: 0 0 7px #00bcd4;
}

.q8__gender__style{
float: right;
width: 180px;
}

.q8__select__style {
  border: none;
  line-height: 12px;
  font-size: 12px;
  border-radius: 3px;
  padding: 5px;
  width: 180px;
  box-sizing: border-box;
  outline:none;
  -webkit-appearance: none;
  cursor: pointer;
}

.q8__select__container {
  float:right;
  display: inline-block;
  position: relative;
}

.q8__select__container::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  width: 8px;
  height: 8px;
  border-bottom :2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  transform: rotate(45deg);
  content: "";
  cursor: pointer;
}

.q8__radio__style {
  display: none;
}

.gender__text {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  text-align: left;
  box-sizing: border-box;
  cursor:pointer;
}

.q8__gender__label {
  position: relative;
}

.q8__gender__label::before {
  position: absolute;
  top: 50%;
  left : 0;
  margin-top: -8px;
  height: 14px;
  width: 14px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  cursor: pointer;
}

.q8__radio__style:checked + .q8__gender__label::after {
  position: absolute;
  top: 50%;
  left : 4px;
  margin-top: -4px;
  height:8px;
  width: 8px;
  border-radius: 50%;
  background-color: #00bcd4;
  content: "";
}

.q8__main__list {
  margin-top: 20px;
}

.q8__main__list:first-child {
  margin-top: 0;
}

.q8__checkbox {
  width: 180px;
  float: right;
  text-align: right;
}

.q8__checkbox__btn {
  display: none;
}

.q8__checkbox__text {
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  position: relative;
  padding-left: 24px;
}

.q8__checkbox__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  border : 1px solid #ccc;
  height:16px;
  width:16px;
  background-color: white;
  content : "";
}

.q8__checkbox__btn:checked + .q8__checkbox__text::after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  border-right: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
  transform: rotate(45deg);
  height:16px;
  width:8px;
  content : "";
}

.q8__submit__btn {
  float: right;
  background-color: #00bcd4;
  padding: 0 10px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  border: none;
}

.q8__submit__btn:active {
  background-color: #fff;
  color:#00bcd4;
  border: none;
  outline:none;
}

.importants {
  color: red;
}

.q8__form__side {
  width: 380px;
  float: right;
}

.q8__form__textarea {
  width: 380px;
  height: 203px;
  border: none;
  padding: 10px;
  border-radius: 3px;
  resize: none;
  font-size: 12px;
  box-sizing: border-box;
  background-color: #fff;
  outline: none;
}

.q8__form__textarea:focus {
  box-shadow : 0 0 7px #00bcd4;
}
